/* カルーセル */
body {
    padding-bottom: 400px;
}

* {
    box-sizing: border-box;
}

.wrapper {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
    overflow-x: hidden;
}

@media (width <=768px) {
    .wrapper {
        padding: 0 20px;
    }
}

button {
    border: 0;
    padding: 0;
    background-color: transparent;
}

.carousel-wrapper {
    position: relative;
}

.carousel {
    margin-bottom: 3em;
}

.item {
    position: relative;
}

.item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 12px;
}

.item .caption {
    position: absolute;
    bottom: 20px;
    /* 下からの距離 */
    left: 50%;
    transform: translateX(-50%);
    background: rgba(0, 0, 0, 0.5);
    /* 半透明の黒背景 */
    color: #fff;
    padding: 8px 16px;
    border-radius: 8px;
    font-size: 1.2rem;
    text-align: center;
    max-width: 90%;
}

.item__blue {
    background: rgb(68 174 255);
}

.item__red {
    background: rgb(248 82 1);
}

.item__yellow {
    background: rgb(255 213 27);
    color: #585858;
}

.item__purple {
    background: rgb(227, 72, 255);
}

.swiper-container {
    position: relative;
    overflow: hidden;
}

.swiper-container.visible {
    overflow: visible;
}

.sample-swiper-cards {
    padding: 0 50px;
}

.slick-prev:before,
.slick-next:before {
    color: white;
    font-size: 30px;
}

.slick-next {
    right: 10px;
}

.slick-prev {
    left: 10px;
    z-index: 1;
}

.slick-dots {
    bottom: 10px;
}